*.swp
*.pyc
.installed.cfg
/bin/
develop-eggs/
/eggs/
/.eggs/
/include/
/lib/
/lib64
/pyvenv.cfg
/parts/
/src/piecemaker.egg-info/
/var/
/local/
/share/
/.venv/
/dist/

/dep/*
!/dep/.gitkeep
/output/
