*.swp
*.pyc
.installed.cfg
/bin/
develop-eggs/
/eggs/
/.eggs/
/include/
/lib/
/lib64
/pyvenv.cfg
/parts/
/src/piecemaker.egg-info/
/var/
/local/
/share/
/.venv/

/dep/*
!/dep/.gitkeep
/security-issues-from-bandit.txt
/vulnerabilities-pip-audit.txt
/output/
